.clock {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6vw;
  border: 2px solid rgb(48, 48, 48);
  border-radius: 50%;
  width: 16vw;
  height: 16vw;
  margin: 0 5%;
  transition: all 0.3s;
  overflow: hidden;
}

.clock:hover {
  cursor: pointer;
  border: 2px solid #fff;
}
